# Automation on drawing reading

**Author:** Farzad Kash 

**Contact:** Farzad.Kashefi@mattr.com  
**Affiliation:** Xerxed by Mattr  
**Date:** November 27, 2023

In [1]:
#import the packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
Edmonton_data = pd.read_clipboard()
Edmonton_data.head()

,SHELL ID#,Molding Date,Inspection date,Sprayer 1 Name,Sprayer 2 Name,Sprayer 3 Name,Resin batch #,Mold station #,Number of ribs,Mold type,Shell diameter,Tank Type,Resin Type,QC Name
0,91007504 A,12/20/22,01/04/23,Jonald,NaN,NaN,NaN,2,6.0,02-Steel,10.0,05-DW-UL/ULC,10-DION 490-27 WINTER,Nandish
1,91007504 B,12/20/22,01/04/23,NaN,NaN,NaN,NaN,3,6.0,02-Steel,10.0,05-DW-UL/ULC,10-DION 490-27 WINTER,Varghese
2,91007504 C,12/20/22,01/04/23,NaN,NaN,NaN,NaN,5,9.0,02-Steel,10.0,05-DW-UL/ULC,10-DION 490-27 WINTER,Varghese
3,91007503 B,12/19/22,01/04/23,Tuyen,Jonald,NaN,NaN,3,6.0,02-Steel,10.0,05-DW-UL/ULC,10-DION 490-27 WINTER,Edwin
4,91007502 B,12/21/22,01/04/23,Inderjeet,Mark,NaN,NaN,4,10.0,02-Steel,10.0,05-DW-UL/ULC,10-DION 490-27 WINTER,Edwin

In [25]:
Edmonton_data.shape

(2230, 14)

In [26]:
Edmonton_data.columns

Index(['SHELL ID#', 'Molding Date', 'Inspection date', 'Sprayer 1 Name',
       'Sprayer 2 Name', 'Sprayer 3 Name', 'Resin batch #', 'Mold station #',
       'Number of ribs', 'Mold type', 'Shell diameter', 'Tank Type',
       'Resin Type', 'QC Name'],
      dtype='object')

In [27]:
Edmonton_data.describe()

       Number of ribs  Shell diameter
count     2218.000000     2227.000000
mean         8.513526        9.429726
std          3.120645        1.162408
min          0.000000        4.000000
25%          6.000000       10.000000
50%          9.000000       10.000000
75%         11.000000       10.000000
max         16.000000       10.000000

In [28]:
Edmonton_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SHELL ID#        2230 non-null   object
 1   Molding Date     2209 non-null   object
 2   Inspection date  2229 non-null   object
 3   Sprayer 1 Name   2191 non-null   object
 4   Sprayer 2 Name   231 non-null    object
 5   Sprayer 3 Name   4 non-null      object
 6   Resin batch #    1 non-null      object
 7   Mold station #   2183 non-null   object
 8   Number of ribs   2218 non-null   float64
 9   Mold type        2229 non-null   object
 10  Shell diameter   2227 non-null   float64
 11  Tank Type        2229 non-null   object
 12  Resin Type       2230 non-null   object
 13  QC Name          2229 non-null   object
dtypes: float64(2), object(12)
memory usage: 244.0+ KB

In [36]:
def count_sprayers(row):
    count = sum(1 for sprayer in row[['Sprayer 1 Name', 'Sprayer 2 Name', 'Sprayer 3 Name']])
    return count # Assuming each non-null sprayer contributes 2 to the total count

# Apply the function to each row to get the total number of sprayers worked
Edmonton_data['Total Sprayers Worked'] = Edmonton_data.apply(count_sprayers,axis=1)

#Edmonton_data['Sprayer 1 Name','Sprayer 2 Name', 'Sprayer 3 Name','Total Sprayers Worked']

In [39]:
Edmonton_data.shape

(2230, 15)

In [38]:
Edmonton_data['Sprayer 1 Name',
       'Sprayer 2 Name', 'Sprayer 3 Name']

KeyError: ('Sprayer 1 Name', 'Sprayer 2 Name', 'Sprayer 3 Name')

In [ ]:
Edmonton_data_original = Edmonton_data.copy()
Edmonton_data = Edmonton_data['SHELL ID#', 'Molding Date', 'Inspection date', 'Sprayer 1 Name',
       'Sprayer 2 Name', 'Sprayer 3 Name', 'Resin batch #', 'Mold station #',
       'Number of ribs', 'Mold type', 'Shell diameter', 'Tank Type',
       'Resin Type']